.deals {
  
    position: relative;
    bottom:1.5em; 
    height: 220px;
    background-color: rgba(10, 10, 10, 0.781); 
}

.tech-slideshow {
    height: 100px;
    max-width: 900px;
    margin: 0 0px 30px 300px;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  
  .tech-slideshow > div {
    height: 150px;
    width: 2500px;
    background: url(collage\ 2.jpg);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
    /* background-repeat: no-repeat; */
  }
  .tech-slideshow .mover-1 {
    animation: moveSlideshow 17s linear infinite;
  }
  .tech-slideshow .mover-2 {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background-position: 0 -200px;
    animation: moveSlideshow 17s linear infinite;
  }
  .tech-slideshow:hover .mover-2 {
    opacity: 1;
  }
  
  @keyframes moveSlideshow {
    100% { 
      transform: translateX(-66.6666%);  
    }
  }




  